<div class="container-fluid our-header">
  <div class="row our-row-mini"><div class="col-md-10 col-md-offset-1 our-row-mini">
    <nav class="navbar">
      <div class="navbar-header">
        <ul>
          <li><a class="our-brand" href="/">WiseCash</a></li>
          <li><span class="muted text-nowrap">your lightweight cash-flow forecasting app</span></li>
        </ul>
      </div>
      <ul class="pull-right">
        <li><a href="/help">Help</a></li>
        <li><a href="/blog">Read the blog</a></li>
        <li><a href="/users/sign_in">Sign in</a></li>
      </ul>
    </nav>
  </div></div>
</div>
