<div class="footer-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <div>
          <p>
            WiseCash is edited by <a href="http://www.logeek.fr">LoGeek SARL</a>, 12 rue des tulipes, Les Grands Andreaux, 17430 Champdolent, France | RCS Saintes 483 514 691
          </p>
          <p>
            <a href="/users/sign_up">Start your free 14-day trial</a> |
            <a href="mailto:support@wisecashhq.com">Contact us</a> |
            <a href="/terms">Our user agreement</a> |
            <a href="/privacy">Privacy policy</a> |
            <a href="/security">Security information</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
