<div class="wrapper">
<div class="container our-header">
  <div class="row our-row-mini"><div class="col-sm-12 our-row-mini">
    <nav class="navbar">
      <div>
        <ul style="padding-left: 0;">
          <li style="padding-left: 0;"><a class="our-brand" href="/">WiseCash</a></li>
          <li><span class="muted text-nowrap">Knowledge Base (work in progress)</span></li>
        </ul>
      </div>
    <!--
      <ul class="pull-right">
        <li><a href="/help">Help</a></li>
        <li><a href="/blog">Read the blog</a></li>
        <li><a href="/users/sign_in">Sign in</a></li>
      </ul>
    -->
    </nav>
  </div></div>
</div>
</div>
