$navbarBackground: #0088cc;
$sepColor: #f5f5f5;

body {
  font-family: "franklin-gothic-urw", sans-serif;
}

.animation img {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 12px 10px;
  border-radius: 4px;
}

.main {
  padding: 30px 50px;
  margin-top: 1.5em;
}

.toc {
  list-style-type: none;
  .section {
    width: 100%;
    border-bottom: 1px solid $sepColor;
    margin-bottom: 0.5em;
  }
}

.toc.sections:hover a {
  color: lighten($navbarBackground, 10%);
}

.toc.sections {
  padding-left: 0;
  .section {
    text-transform: uppercase;
    color: #ccc;
    font-size: 13px;
    padding-bottom: 0.5em;
    display: inline-block;
  }
}

h1, h2 {
  font-weight: 400;
  font-family: "abril-display", serif;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0.4em;
  border-bottom: 1px solid $sepColor;
  margin-bottom: 0.8em;
  font-size: 32px;
}

h2 {
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 22px;
}

.content {
  border-left: 1px solid $sepColor;
  padding-left: 3em;
  p {
    font-size: 18px;
    line-height: 18*1.2727px;
    font-weight: 100;
  }
}

.toc.pages {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  a {
    display: block;
    margin: 0.25em 0em;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: 100;
  }
  .active {
    color: $navbarBackground;
    font-weight: 400;
  }
}

.our-header {
  p, li {
    font-size: 22px;
    line-height: 28px;
    font-weight: 100;
  }
  background-color: #0088cc;
  .our-row-mini {
    height: 36px;
  }
}
.navbar {
  margin-bottom: 0;
  min-height: 16px;
  a {
    text-transform: uppercase;
  }
  .our-brand {
    font-weight: 400;
  }
  .muted {
    padding-left: 0px;
    opacity: 0.4;
    text-transform: uppercase;
  }
  a, span {
    color: white;
    font-size: 14px;
  }
  li {
    display: inline-block;
    padding-left: 20px;
  }
}
