<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% stylesheet site %}
    {% include typekit.html %}
  </head>
  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% include navbar.html %}
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 toc-wrapper">
            {% include toc.html %}
          </div>
          <div class="col-sm-9 content-wrapper">
            <div class="content">
              {{ content || autolink }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
